Repository kubernetes-sigs/vsphere-csi-driver, pull requests merged in 2021-07, with the labels that each got.

#1028 Clean up white spaces in commonco
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/utils.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1057 Clean up white spaces in pvcsi_metadatasyncer
  pkg/syncer/pvcsi_metadatasyncer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1051 Use LogNewErrorCodef in cnsfileaccessconfig
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1049 Clean up white spaces in migrationController
  pkg/syncer/storagepool/migrationController.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1050 Clean white spaces under cns-lib
  pkg/common/cns-lib/node/manager.go
  pkg/common/cns-lib/volume/manager.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1039 Clean up white spaces in vanilla controller
  pkg/csi/service/vanilla/controller.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/M

#1047 [e2e-test]: Add test for file-volume PV created by same name twice
  tests/e2e/csi_static_provisioning_file_basic.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1033 [e2e-test]: RWX Automation test - Static volume provision
  tests/e2e/gc_rwx_static_provision.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1060 Clean up white spaces in internalapis
  pkg/internalapis/cnsvolumeoperationrequest/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1052 Clean up white spaces in syncer
  pkg/syncer/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1004 Add healthz port for CSI controller and use emptyDir for CSI socket file
  manifests/supervisorcluster/1.15/cns-csi.yaml
  manifests/supervisorcluster/1.16/cns-csi.yaml
  manifests/supervisorcluster/1.17/cns-csi.yaml
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1040 Add check to see if VM CR is present on VM retrieval failures
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1062 Change homeless pod opt out label name
  pkg/syncer/k8scloudoperator/placement.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1048 Enhance log for volume health.
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/util.go
  pkg/syncer/volume_health.go
  pkg/syncer/volume_health_reconciler.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1063 Use LogNewErrorf in vanilla controller
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1069 Clean up white spaces in cnsregistervolume
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1058 [e2e-test]: TKG RWX - Adding ReadOnlyMany automation tests
  tests/e2e/gc_rwx_basic.go
  tests/e2e/gc_rwx_readonly.go
  tests/e2e/gc_rwx_static_provision.go
  tests/e2e/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1070 Clean up white space in syncer main
  cmd/syncer/main.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1061 Clean up white spaces in e2e tests
  tests/e2e/binding_modes_with_topology.go
  tests/e2e/connection.go
  tests/e2e/csi_cns_telemetry_vc_reboot.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1065 Clean up white spaces in placement
  pkg/syncer/k8scloudoperator/placement.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1071 Clean up white spaces in cnsoperator init
  pkg/syncer/cnsoperator/manager/init.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1072 Clean up white spaces in vsphere-csi
  cmd/vsphere-csi/main.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1064 Clean up white spaces under common
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1068 Clean up white spaces under cnsfileaccessconfig
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/cnsfileaccessconfig_controller.go
  pkg/syncer/cnsoperator/controller/cnsfileaccessconfig/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1075 Clean up white spaces for static provisioning test
  tests/e2e/csi_static_provisioning_basic.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1077 Add DatastoreMigrationParam to unsupported storage class params Set
  pkg/syncer/admissionhandler/validatestorageclass.go
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-2.3.0-candidate, size/XS

#1083 Cherry-pick PR 1077 : Add DatastoreMigrationParam to unsupported storage class params Set
  pkg/syncer/admissionhandler/validatestorageclass.go
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1079 Enable homeless pod FSS
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1059 Change DEBUG log to INFO in cnsnodevmattachment_controller.go .
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1031 SVC volume resize on stateful set
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/statefulsets.go
  tests/e2e/util.go
  tests/e2e/vsphere_volume_expansion.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1080 vcptocsi - skip referred entity validation for 67u3 and other fixes
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_create_delete.go
  tests/e2e/vcp_to_csi_syncer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1091 Enable CSI migration FSS in vanilla driver deployment file
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, release-2.3.0-candidate, size/XS

#1073 Use LogNewErrorf in syncer
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/util.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/metadatasyncer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1089 Clean up white spaces in e2e_common
  tests/e2e/e2e_common.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1087 Clean up white spaces in e2e util
  tests/e2e/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1088 Clean up white spaces in e2e data_persistence
  tests/e2e/data_persistence.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1082 Clean up white spaces in diskDecommissionController
  pkg/syncer/storagepool/diskDecommissionController.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1081 Clean up white spaces in vsphereutil
  pkg/csi/service/common/vsphereutil.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1084 Clean up white spaces in validatestorageclass_test
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1074 Use LogNewErrorf in csi
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_helper.go
  pkg/csi/service/server.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1086 Clean up white spaces in fullsync_test_for_block_volume
  tests/e2e/fullsync_test_for_block_volume.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1076 Clean up white spaces in wcp controller
  pkg/csi/service/wcp/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1090 Clean up white spaces in storagepool
  pkg/syncer/storagepool/intended_state.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1097 Cherry pick PR #1091 : Enable migration fss in 2.3
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1100 Update rc images version in 2.3 deployment yaml
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1099 Clean up white spaces in e2e util
  tests/e2e/util.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1104 Use LogNewErrorf in volume manager
  pkg/common/cns-lib/volume/manager.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1101 Clean up white spaces in vanilla controller_test
  pkg/csi/service/vanilla/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1112 Clean up white spaces in e2e gc_block_volume_expansion
  tests/e2e/gc_block_volume_expansion.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1105 Use LogNewErrorf in cnsvolumeoperationrequest
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1103 Use LogNewErrorf in cns-lib util
  pkg/common/cns-lib/volume/util.go
  pkg/common/cns-lib/vsphere/utils.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/S

#1000 Patch release-2.0 branch tests with the GCR image to avoid docker image pull limit error
  tests/e2e/binding_modes_with_topology.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/e2e_common.go
  tests/e2e/labelupdates.go
  tests/e2e/operationstorm.go
  tests/e2e/partial_topology_values.go
  tests/e2e/provision_with_multiple_zones.go
  tests/e2e/storagepolicy.go
  tests/e2e/testing-manifests/statefulset/nginx/statefulset.yaml
  tests/e2e/util.go
  tests/e2e/volume_provisioning_with_topology.go
  tests/e2e/vsphere_file_volume_basic.go
  tests/e2e/vsphere_volume_expansion.go
  tests/e2e/vsphere_volume_fstype.go
Labels: approved, cncf-cla: yes, ok-to-test, size/M

#1106 Clean up white spaces in validatestorageclass_test
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1107 Clean up white spaces in k8sorchestrator_helper
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_helper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#990 online volume expansion on deployment set (vanilla and SVC)
  tests/e2e/docs/supervisor_cluster_setup.md
  tests/e2e/vsphere_volume_expansion.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1102 Re-ordering vanilla e2e test-suites to run destructive tests first
  hack/run-e2e-test.sh
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/labelupdates.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#1108 Increase wait time to 1 minute in e2e tests for Volume Metadata informer updates
  tests/e2e/e2e_common.go
  tests/e2e/labelupdates.go
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1116 Clean up white spaces in gc_block_resize_retain_policy
  tests/e2e/gc_block_resize_retain_policy.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1114 Use LogNewErrorf in k8scloudoperator
  pkg/syncer/k8scloudoperator/k8scloudoperator.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1098 QuerySnapshots implmentation
  .gitignore
  Makefile
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/common/prometheus/metrics.go
  pkg/common/utils/test_vsphere.conf
  pkg/common/utils/utils.go
  pkg/common/utils/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1115 Clean up white spaces in gc_cns_nodevm_attachment
  tests/e2e/gc_cns_nodevm_attachment.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/L

#1117 Clean up white spaces in csi_static_provisioning_file_basic
  tests/e2e/csi_static_provisioning_file_basic.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1085 Cherry-pick PR 1077 : Add DatastoreMigrationParam to unsupported storage class params Set
  pkg/syncer/admissionhandler/validatestorageclass.go
  pkg/syncer/admissionhandler/validatestorageclass_test.go
Labels: approved, cncf-cla: yes, size/XS, v2.2.2

#1016 Cherry-pick PR (#1013) to rel 2.2 - Add check for CSI volume spec in PVUpdated method
  pkg/syncer/metadatasyncer.go
Labels: approved, cncf-cla: yes, size/XS, v2.2.2

#1121 Clean up white spaces in csi_cns_telemetry_statefulsets
  tests/e2e/csi_cns_telemetry_statefulsets.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1122 Clean up white spaces in fullsync_test_for_file_volume
  tests/e2e/fullsync_test_for_file_volume.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1113 Use LogNewErrorf in csi
  pkg/csi/service/node.go
  pkg/csi/service/server.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1093 vcptocsi - miscellaneous tests and stateful test fix
  tests/e2e/vcp_to_csi_syncer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1119 Clean up white spaces in storagepool listener
  pkg/syncer/storagepool/listener.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1118 Clean white spaces in vsphere_volume_mount
  tests/e2e/vsphere_volume_mount.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1123 Clean up white spaces in gc_full_sync
  tests/e2e/gc_full_sync.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1120 Replaced 'POD' with 'Pod' in test files as its not an abbreviation.
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/gc_cns_nodevm_attachment.go
  tests/e2e/gc_rwx_basic.go
  tests/e2e/gc_rwx_readonly.go
  tests/e2e/gc_rwx_static_provision.go
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_create_delete.go
  tests/e2e/vcp_to_csi_syncer.go
  tests/e2e/vsphere_volume_expansion.go
  tests/e2e/vsphere_volume_fsgroup.go
  tests/e2e/vsphere_volume_fstype.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1110 Make changes to pvcsi yamls to upgrade node driver registrar to v2.1.0
  manifests/guestcluster/1.19/pvcsi.yaml
  manifests/guestcluster/1.20/pvcsi.yaml
  manifests/guestcluster/1.21/pvcsi.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1128 Clean up white spaces in storageclasswatch
  pkg/syncer/storagepool/storageclasswatch.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1111 Upgrade sidecar container images to latest stable releases
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1134 Clean up white spaces in resize_reconciler
  pkg/syncer/resize_reconciler.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1125 Clean up white spaces in controller_helper
  pkg/csi/service/wcp/controller_helper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1126 Clean up white spaces in controller_test
  pkg/csi/service/wcp/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1127 Clean up white spaces in storage pool service
  pkg/syncer/storagepool/service.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1130 Clean up white spaces in volume manager
  pkg/common/cns-lib/volume/manager.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1133 Clean up white spaces in pvcsi_fullsync
  pkg/syncer/pvcsi_fullsync.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1140 Clean up white spaces in tests - long strings
  tests/e2e/csi_cns_telemetry_statefulsets.go
  tests/e2e/csi_cns_telemetry_vc_reboot.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/gc_block_volume_expansion.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1142 Clean up white spaces in volume_health_reconciler
  pkg/syncer/volume_health_reconciler.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1139 Clean up white spaces in gc_metadata_syncer
  tests/e2e/gc_metadata_syncer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1132 Prevent volume deletion if snapshots are present
  pkg/common/unittestcommon/utils.go
  pkg/common/utils/test_vsphere.conf
  pkg/common/utils/utils.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1144 Clean up white spaces in syncer unit test
  pkg/syncer/syncer_test.go
  pkg/syncer/util_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1152 Clean up long lines in vsphere_file_volume_basic_mount
  tests/e2e/vsphere_file_volume_basic_mount.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1147 Clean up long lines in vsphere_volume_expansion
  tests/e2e/vsphere_volume_expansion.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1148 Clean up long lines in gc_rwx_basic
  tests/e2e/gc_rwx_basic.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1149 Clean up long lines in gc_rwx_readonly
  tests/e2e/gc_rwx_readonly.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1154 Clean up white spaces in vsphere_shared_datastore
  tests/e2e/vsphere_shared_datastore.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1143 Clean up white spaces in common utils
  pkg/common/utils/utils.go
  pkg/common/utils/utils_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1145 Clean up white spaces in volume_health
  pkg/syncer/volume_health.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1146 Clean up white spaces in controller_test
  pkg/csi/service/wcpguest/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1153 Clean up long lines in vsphere_file_volume_storagepolicy
  tests/e2e/vsphere_file_volume_storagepolicy.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1151 Clean up long lines in vsphere_file_volume_basic
  tests/e2e/vsphere_file_volume_basic.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1150 Fix linter errors
  pkg/csi/service/common/vsphereutil.go
  pkg/syncer/cnsoperator/controller/cnsregistervolume/cnsregistervolume_controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, v2.2.2

#1156 Clean up long lines in syncer_test
  pkg/syncer/syncer_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#1155 Clean up white spaces in volume_health_test
  tests/e2e/volume_health_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#1158 Clean up long lines in gc_rwx_static_provision
  tests/e2e/gc_rwx_static_provision.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1160 Clean up long lines in a few e2e test files
  tests/e2e/invalid_topology_values.go
  tests/e2e/medadatasyncer_test_for_file_volume.go
  tests/e2e/multi_master_k8s.go
  tests/e2e/nodemapper.go
  tests/e2e/partial_topology_values.go
  tests/e2e/scale.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1161 Clean up long lines in labelupdates
  tests/e2e/labelupdates.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1162 Clean up long lines in operationstorm
  tests/e2e/operationstorm.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1163 Clean up long lines in statefulsets
  tests/e2e/statefulsets.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1168 Clean up long lines in volume_provisioning_with_topology
  tests/e2e/volume_provisioning_with_topology.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1165 Clean up long lines in e2e vsphere
  tests/e2e/vsphere.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1167 Clean up long lines a few e2e tests
  tests/e2e/vcp_utils.go
  tests/e2e/vsphere_file_volume_basic_without_datacenter.go
  tests/e2e/vsphere_volume_disksize.go
  tests/e2e/vsphere_volume_fsgroup.go
  tests/e2e/vsphere_volume_fstype.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1169 Clean up long lines in three e2e tests
  tests/e2e/provision_with_multiple_zones.go
  tests/e2e/statefulset_with_topology.go
  tests/e2e/svmotion_detached_volume.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1157 Clean up long lines in wcg guest controller
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1170 Clean up long lines in storagepolicy
  tests/e2e/storagepolicy.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1171 Clean up long lines in three e2e tests
  tests/e2e/config_change_test.go
  tests/e2e/vc_reboot_volume_lifecycle.go
  tests/e2e/vsphere_volume_mount.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1176 Clean up long lines in vcp_to_csi_create_delete
  tests/e2e/vcp_to_csi_create_delete.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1172 Clean up long lines in topology_aware_node_poweroff
  tests/e2e/topology_aware_node_poweroff.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1179 Clean up long lines in syncer_test
  pkg/syncer/syncer_test.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#1178 Clean up long lines in vcp_to_csi_syncer
  tests/e2e/vcp_to_csi_syncer.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1177 Clean up long lines in vcp_to_csi_full_sync
  tests/e2e/vcp_to_csi_full_sync.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1182 enable lll linter
  .golangci.yml
Labels: approved, cncf-cla: yes, lgtm, size/S

#1164 Fix panic in WCP Init due to cleanup interval
  pkg/csi/service/wcp/controller.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1180 Implemented CreateSnapshot and DeleteSnapshot capabilities in CSI driver without handling idempotency and limit check
  go.mod
  go.sum
  pkg/common/cns-lib/volume/manager.go
  pkg/common/prometheus/metrics.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_helper.go
  pkg/csi/service/vanilla/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1185 move service before deployment in the vsphere-csi-driver.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#1191 vcp to csi migration attach detach combined test case and removed namespace param for few util methods
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_create_delete.go
  tests/e2e/vcp_to_csi_full_sync.go
  tests/e2e/vcp_to_csi_syncer.go
  tests/e2e/vsphere_volume_expansion.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1194 Keep VCP to CSI migration fss set to false
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1196 Revert "move service before deployment (#1185)"
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M

#1199 Keep VCP to CSI migration fss set to false
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1200 Update image tag to rc.4
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1029 Improve CreateVolume performance in topology aware environments
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/common/cns-lib/node/nodes.go
  pkg/common/cns-lib/vsphere/virtualmachine.go
  pkg/common/unittestcommon/types.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/common/commonco/types/types.go
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller.go
  pkg/internalapis/csinodetopology/csinodetopology.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#1197 Added the functionality of CreateVolume from snapshot data source for block volumes in Vanilla cluster
  go.mod
  pkg/common/utils/utils.go
  pkg/csi/service/common/types.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/util_test.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1136 GC online volume expansion
  tests/e2e/docs/guest_cluster_setup.md
  tests/e2e/docs/supervisor_cluster_setup.md
  tests/e2e/gc_block_resize_retain_policy.go
  tests/e2e/gc_block_volume_expansion.go
  tests/e2e/vsphere_volume_expansion.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#958 Running vanilla e2e tests concurrently to reduce e2e run time
  hack/run-e2e-test.sh
  tests/e2e/csi_cns_telemetry.go
  tests/e2e/csi_cns_telemetry_statefulsets.go
  tests/e2e/csi_cns_telemetry_vc_reboot.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/labelupdates.go
  tests/e2e/operationstorm.go
  tests/e2e/statefulsets.go
  tests/e2e/storagepolicy.go
  tests/e2e/svmotion_detached_volume.go
  tests/e2e/util.go
  tests/e2e/vc_reboot_volume_lifecycle.go
  tests/e2e/vcp_to_csi_syncer.go
  tests/e2e/volume_health_test.go
  tests/e2e/vsphere_shared_datastore.go
  tests/e2e/vsphere_volume_disksize.go
  tests/e2e/vsphere_volume_expansion.go
  tests/e2e/vsphere_volume_fsgroup.go
  tests/e2e/vsphere_volume_fstype.go
Labels: approved, cncf-cla: yes, size/L
