Repository kubernetes-sigs/vsphere-csi-driver, pull requests merged in 2021-12, with the labels that each got.

#1431 Reverting a storage class fix for GC
  tests/e2e/labelupdates.go
  tests/e2e/util.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1313 [e2e-test]: TKG RWX, label update for volumes tests
  tests/e2e/gc_rwx_syncer.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes

#1425 Add metrics for CSI ExpandVolume ops in Vanilla driver
  pkg/csi/service/vanilla/controller.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1397 add oidc support
  hack/check-format.sh
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/labelupdates.go
  tests/e2e/storagepolicy.go
  tests/e2e/vsphere_volume_expansion.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1423 Remove securityContext from windows csi node deployment
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1430 [e2e-test]: Improved Idempotency Test automation - part2
  tests/e2e/e2e_common.go
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/util.go
  tests/e2e/vsphere.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1394 vcp-csi attach-detach test 9-12 & fix cleanup for sts and deps in syncer tests script
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_syncer.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes

#1436 kube-controller-manager instances was expected to be 1 always, fixing that
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_syncer.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1437 Enable offline volume resize in 6.7U3
  pkg/common/cns-lib/vsphere/virtualcentermanager.go
  pkg/csi/service/vanilla/controller.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes, release-2.4.1-candidate

#1443 Take user input for topology upgrade
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/syncer/cnsoperator/controller/csinodetopology/controller_test.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes, release-2.4.0-candidate

#1440 Cherry pick PR 1398 to release 2.4
  pkg/apis/migration/migration.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Labels: size/L, approved, ok-to-test, cncf-cla: yes, v2.4.1

#1448 Take user input for topology upgrade (#1443)
  pkg/common/config/config.go
  pkg/common/config/types.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/syncer/cnsoperator/controller/csinodetopology/controller_test.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes, v2.4.1

#1450 Update manifests to use 2.4.1-rc.1 images
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes, v2.4.1

#1452 Use v1 apiVersion for CSIDriver for WCP k8s 1.22 deployment yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
Labels: size/XS, approved, lgtm, cncf-cla: yes

#1451 Fix parsing of volume path
  pkg/apis/migration/migration.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes, release-2.4.1-candidate

#1453 cherry-pick to release-2.4 - Fix parsing of volume path (#1451)
  pkg/apis/migration/migration.go
Labels: size/XS, approved, lgtm, cncf-cla: yes, v2.4.1

#1454 Update images to 2.4.1 rc2
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: size/S, approved, lgtm, cncf-cla: yes

#1439 [e2e-test]: Fix Improved Idempotency tests for GC
  tests/e2e/improved_csi_idempotency.go
Labels: approved, lgtm, ok-to-test, size/M, cncf-cla: yes

#1458 [Fix-linter error]: Fix linter error introduced on the PR #1439
  tests/e2e/improved_csi_idempotency.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes
