Repository kubernetes-sigs/vsphere-csi-driver, pull requests merged in 2021-11, with the labels that each got.

#1388 Fix cns volume metadata entity references
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/cnsvolumemetadata_types.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes, release-2.4.0-candidate

#1390 cherry-pick request for cnsVolumeMetadata entity references fix
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/cnsvolumemetadata_types.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1286 Handling pv annotations post migration if provisioner is not CSI but VCP and wait for pods post migration
  tests/e2e/util.go
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_create_delete.go
  tests/e2e/vcp_to_csi_syncer.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1401 Revert back CnsVolumeMetadata entity references from json to xml
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/cnsvolumemetadata_types.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes, release-2.4.0-candidate

#1402 Revert back CnsVolumeMetadata entityreferences from json to xml (#1401)
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/cnsvolumemetadata_types.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1404 Tagging images as v2.4.0 in deployment manifests
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: size/S, approved, lgtm, cncf-cla: yes

#1400 Documentation redirection
  netlify.toml
Labels: size/S, approved, cncf-cla: yes

#1406 Update README to point to CSI releases on VMware docs
  README.md
Labels: size/S, approved, cncf-cla: yes

#1405 Revert the CRD support from apiextensions.k8s.io/v1 API to v1beta1 for WCP/TKG APIs
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsnodevmattachment/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsregistervolume/v1alpha1/doc.go
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/doc.go
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsnodevmattachments.yaml
  pkg/apis/cnsoperator/config/cns.vmware.com_cnsvolumemetadata.yaml
  pkg/apis/cnsoperator/config/cnsfileaccessconfig_crd.yaml
  pkg/apis/cnsoperator/config/cnsregistervolume_crd.yaml
  pkg/apis/cnsoperator/config/config.go
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/v1alpha1/doc.go
  pkg/internalapis/cnsoperator/config/cnsfilevolumeclient_crd.yaml
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
  pkg/internalapis/cnsvolumeoperationrequest/util.go
  pkg/internalapis/featurestates/config/cns.vmware.com_cnscsisvfeaturestates.yaml
  pkg/internalapis/featurestates/config/config.go
  pkg/internalapis/featurestates/featurestates.go
  pkg/internalapis/featurestates/v1alpha1/doc.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/manager/init.go
  pkg/syncer/storagepool/service.go
Labels: approved, lgtm, size/XL, cncf-cla: yes

#1409 Fix for setting the replica count
  tests/e2e/fullsync_test_for_block_volume.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1410 delete github documentation
  README.md
  docs/book/README.md
  docs/book/SUMMARY.md
  docs/book/compatiblity_matrix.md
  docs/book/driver-deployment/deploying_csi_with_zones.md
  docs/book/driver-deployment/installation.md
  docs/book/driver-deployment/prerequisites.md
  docs/book/driver-deployment/upgrade.md
  docs/book/features/csi_driver_on_windows.md
  docs/book/features/multi_access_filesystem_volume.md
  docs/book/features/raw_block_volume.md
  docs/book/features/single_access_filesystem_volume.md
  docs/book/features/volume_expansion.md
  docs/book/features/volume_topology.md
  docs/book/glossary.md
  docs/book/limits.md
  docs/book/overview.md
  docs/book/releases/v1.0.2.md
  docs/book/releases/v1.0.3.md
  docs/book/releases/v2.0.0.md
  docs/book/releases/v2.0.1.md
  docs/book/releases/v2.0.2.md
  docs/book/releases/v2.1.0.md
  docs/book/releases/v2.1.1.md
  docs/book/releases/v2.1.2.md
  docs/book/releases/v2.2.0.md
  docs/book/releases/v2.2.1.md
  docs/book/releases/v2.2.2.md
  docs/book/releases/v2.3.0.md
  docs/book/support.md
  docs/book/supported_features_matrix.md
  docs/book/upgrade_support_matrix.md
Labels: approved, size/XXL, lgtm, cncf-cla: yes

#1309 [e2e-test]: TKG worker scale up and down with file volumes
  tests/e2e/e2e_common.go
  tests/e2e/gc_rwx_tkg_scale.go
  tests/e2e/util.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes

#1315 [e2e-test]: Adding TKG RWX tests for vsan-health down
  tests/e2e/gc_rwx_service_down.go
Labels: approved, size/XXL, lgtm, ok-to-test, cncf-cla: yes

#1411 Fixing the linter error in a test case
  tests/e2e/fullsync_test_for_block_volume.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1312 [e2e-test]: Adding tests for volume-health plumbing for RWX on TKG
  tests/e2e/gc_rwx_volume_health.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1398 prevent calling register volume in parallel for same vmdk
  pkg/apis/migration/migration.go
  pkg/csi/service/vanilla/controller.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Labels: size/L, approved, lgtm, cncf-cla: yes

#1297 [e2e-test]: Adding TKG RWX operation storm tests
  tests/e2e/gc_rwx_operation_storm.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1319 [e2e-test]: Adding RWX security context tests
  tests/e2e/gc_rwx_security_context.go
  tests/e2e/util.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes

#1415 [e2e-test]: Fix spelling error for "default"
  tests/e2e/gc_rwx_security_context.go
  tests/e2e/util.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1321 Decouple CPI from CSI - Remove dependency on K8s Node ProviderID set by CPI from CSI
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/common/cns-lib/node/manager.go
  pkg/common/cns-lib/node/nodes.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/node.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_test.go
  pkg/kubernetes/informers.go
  pkg/kubernetes/kubernetes.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/manager/init.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1412 Adding P0 metrics to volume health feature in SV and Vanilla flavors
  pkg/common/prometheus/metrics.go
  pkg/syncer/volume_health.go
Labels: approved, lgtm, size/M, cncf-cla: yes

#1320 Added validating admission webhooks in vanilla cluster for the block volume snapshot feature
  go.mod
  go.sum
  manifests/vanilla/deploy-vsphere-csi-validation-webhook.sh
  manifests/vanilla/validatingwebhook.yaml
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/validatepvc.go
  pkg/syncer/admissionhandler/validatepvc_test.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes

#1414 Delete TKG in VMC environment
  tests/e2e/docs/vmc_tkg_setup.md
  tests/e2e/util.go
  tests/e2e/vmc_delete_tkg.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1392 Add P0 metrics to CSI Full Sync
  pkg/common/prometheus/metrics.go
  pkg/syncer/fullsync.go
  pkg/syncer/pvcsi_fullsync.go
Labels: approved, lgtm, size/M, cncf-cla: yes

#1403 Added the documentation for the alpha feature of block volume snapshot
  docs/book/features/volume_snapshot.md
  example/vanilla-k8s-RWO-Block-Volumes/example-raw-block-restore.yaml
  example/vanilla-k8s-RWO-Block-Volumes/example-raw-block-snapshot.yaml
  example/vanilla-k8s-RWO-Block-Volumes/example-raw-block-snapshotclass.yaml
  example/vanilla-k8s-RWO-Block-Volumes/example-raw-block-static-snapshot.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-restore.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-snapshot.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-snapshotclass.yaml
  example/vanilla-k8s-RWO-filesystem-volumes/example-static-snapshot.yaml
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1389 Add namespace to CsiControlOpsHistVec metric
  pkg/common/prometheus/metrics.go
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Labels: needs-ok-to-test, size/L, approved, lgtm, cncf-cla: yes

#1426 Update kubernetes known issues
  docs/book/known_issues.md
Labels: approved, lgtm, ok-to-test, size/M, cncf-cla: yes

#1395 [CSI-Snapshot]Do not error out operation if the volume is not found
  go.mod
  go.sum
  pkg/common/utils/utils.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/common/vsphereutil_test.go
  pkg/syncer/admissionhandler/validatepvc_test.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1417 Code related to storage class creation is modified in WCP tests
  tests/e2e/config_change_test.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
  tests/e2e/docs/supervisor_cluster_setup.md
  tests/e2e/e2e_common.go
  tests/e2e/fullsync_test_for_block_volume.go
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/labelupdates.go
  tests/e2e/multi_master_k8s.go
  tests/e2e/storagepolicy.go
  tests/e2e/util.go
  tests/e2e/vc_reboot_volume_lifecycle.go
  tests/e2e/volume_health_test.go
  tests/e2e/vsphere_volume_disksize.go
  tests/e2e/vsphere_volume_expansion.go
  tests/e2e/vsphere_volume_fsgroup.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes
