Repository kubernetes-sigs/vsphere-csi-driver, pull requests merged in 2022-01, with the labels that each got.

#1428 Volume health testcase for pod pvc getting inaccessible
  tests/e2e/volume_health_test.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1433 Verify impact on pod pvc when recreating sc with diff mode
  tests/e2e/vsphere_shared_datastore.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1427 In case of CNS_NEW_SYNC, Volume expansion to succeed when SPS is down.
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vsphere_volume_expansion.go
Labels: approved, lgtm, ok-to-test, size/M, cncf-cla: yes

#1459 Fix for failures in volumeExpansionTests
  tests/e2e/util.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1464 lint error fixed
  tests/e2e/vsphere_shared_datastore.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1471 cherry-pick PRs for v2.2.3-rc.1 release
  go.mod
  go.sum
  manifests/v2.2.3/deploy/create-validation-webhook.sh
  manifests/v2.2.3/deploy/generate-signed-webhook-certs.sh
  manifests/v2.2.3/deploy/validatingwebhook.yaml
  manifests/v2.2.3/deploy/vsphere-csi-controller-deployment.yaml
  manifests/v2.2.3/deploy/vsphere-csi-node-ds.yaml
  manifests/v2.2.3/rbac/vsphere-csi-controller-rbac.yaml
  manifests/v2.2.3/rbac/vsphere-csi-node-rbac.yaml
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cnsoperator/cnsnodevmattachment/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/migration/migration.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/storagepool/cns/v1alpha1/zz_generated.deepcopy.go
  pkg/csi/service/common/util.go
  pkg/csi/service/common/vsphereutil.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcpguest/controller.go
  pkg/internal/cnsoperator/cnsfilevolumeclient/v1alpha1/zz_generated.deepcopy.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
  tests/e2e/csi_static_provisioning_basic.go
  tests/e2e/data_persistence.go
Labels: approved, size/XXL, lgtm, ok-to-test, cncf-cla: yes

#1469 Adding to reviewers and approvers list
  OWNERS
Labels: size/XS, approved, lgtm, cncf-cla: yes

#1470 cherry-pick PRs for v2.3.1-rc.1 release
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/apis/cnsoperator/cnsfileaccessconfig/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cnsoperator/cnsnodevmattachment/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/cnsoperator/cnsvolumemetadata/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/migration/migration.go
  pkg/apis/migration/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/storagepool/cns/v1alpha1/zz_generated.deepcopy.go
  pkg/csi/service/vanilla/controller.go
  pkg/internalapis/cnsoperator/cnsfilevolumeclient/v1alpha1/zz_generated.deepcopy.go
  pkg/internalapis/cnsvolumeoperationrequest/v1alpha1/zz_generated.deepcopy.go
  pkg/internalapis/csinodetopology/v1alpha1/zz_generated.deepcopy.go
  pkg/internalapis/featurestates/v1alpha1/zz_generated.deepcopy.go
  pkg/syncer/fullsync.go
  pkg/syncer/metadatasyncer.go
  pkg/syncer/util.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1462 Add the FSS for TKGs HA feature
  manifests/guestcluster/1.22/pvcsi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
  pkg/csi/service/common/constants.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1467 Test-fix for volume expansion tests
  tests/e2e/vsphere_volume_expansion.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1473 Set v2.4.1 image version
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1446 Added patch verb for volumesnapshotcontents resource to vsphere-csi-controller-role for the compatibility with external-snapshotter 5.0
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1461 code fix for PR 2881746
  tests/e2e/storagepolicy.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1465 Add diskDecomm as a field to storagepool
  pkg/apis/storagepool/cns/v1alpha1/storagepool_types.go
  pkg/apis/storagepool/config/cns.vmware.com_storagepools.yaml
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1483 tagging images with v2.3.1 for release
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1484 Enable async query volume fss in Supervisor
  manifests/supervisorcluster/1.17/cns-csi.yaml
  manifests/supervisorcluster/1.18/cns-csi.yaml
  manifests/supervisorcluster/1.19/cns-csi.yaml
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1476 CreateVolume pvcsi changes for tkgs-ha
  manifests/guestcluster/1.22/pvcsi.yaml
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/constants.go
  pkg/csi/service/wcpguest/controller.go
  pkg/csi/service/wcpguest/controller_helper.go
  pkg/csi/service/wcpguest/controller_test.go
  pkg/syncer/util.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1480 Added the node topology discovery workflow for TKGS HA feature - csinodetopology consumer and manifest update
  manifests/guestcluster/1.22/pvcsi.yaml
  pkg/csi/service/node.go
  pkg/syncer/cnsoperator/manager/init.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1442 vsan stretch vanilla - Primary site down - test and libs
  go.mod
  go.sum
  tests/e2e/docs/vanilla_cluster_setup.md
  tests/e2e/e2e_common.go
  tests/e2e/nimbus_utils.go
  tests/e2e/util.go
  tests/e2e/vsan_stretched_cluster.go
  tests/e2e/vsan_stretched_cluster_utils.go
Labels: needs-ok-to-test, approved, lgtm, size/XL, cncf-cla: yes

#1485 ignore the default-token-* volumes attached to pods while checking volume detachment upon pod deletion
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_syncer.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1457 [e2e-test]: Verify the file share creation fails on the non-file-service enabled setup
  tests/e2e/gc_file_share_negative.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1419 [e2e-test]: Adding Multi-GC testcases for RWX TKG
  tests/e2e/gc_rwx_multi_gc.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes

#1491 Update the default version of external-snapshotter
  manifests/vanilla/deploy-csi-snapshot-components.sh
Labels: size/S, approved, lgtm, cncf-cla: yes

#1482 Fix for topology regression fixes
  tests/e2e/e2e_common.go
  tests/e2e/invalid_topology_values.go
  tests/e2e/volume_provisioning_with_topology.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1495 Fixed the incorrect way to get cluster flavor in vanilla cluster
  pkg/csi/service/node.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1481 Added the node topology discovery workflow for TKGS HA feature - csinodetopology controller
  go.mod
  go.sum
  pkg/csi/service/wcpguest/controller.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller_test.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1497 fix linter errors
  pkg/csi/service/common/util.go
  pkg/syncer/cnsoperator/manager/init.go
Labels: size/XS, approved, lgtm, cncf-cla: yes

#1434 [e2e-test]: TKG+RWX Destructive test
  tests/e2e/gc_rwx_deployments.go
  tests/e2e/gc_rwx_destructive.go
  tests/e2e/util.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes

#1500 Run snapshot-controller and snapshot-validation-deployment on CP nodes
  manifests/vanilla/deploy-csi-snapshot-components.sh
Labels: size/XS, approved, lgtm, cncf-cla: yes

#1502 Removing e2e test dependency on pkg/csi/service/common package
  tests/e2e/csi_static_provisioning_file_basic.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1501 remove usage of prometheus log
  go.mod
  go.sum
  pkg/csi/service/common/util.go
  pkg/csi/service/wcpguest/controller.go
Labels: size/S, approved, lgtm, cncf-cla: yes

#1506 Added a workaround to handle the deletion of non-existent snapshot
  pkg/common/cns-lib/volume/manager.go
  pkg/common/cns-lib/vsphere/utils.go
Labels: approved, lgtm, ok-to-test, size/M, cncf-cla: yes

#1504 Fix for topology regression fixes (#1482)
  tests/e2e/e2e_common.go
  tests/e2e/invalid_topology_values.go
  tests/e2e/volume_provisioning_with_topology.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1468 Fixed parsing of /proc/self/mountinfo with spaces
  pkg/csi/service/osutils/linux_os_utils.go
  pkg/csi/service/osutils/linux_os_utils_test.go
Labels: approved, lgtm, ok-to-test, size/M, cncf-cla: yes

#1509 ignore the default-token-* volumes attached to pods
  tests/e2e/vcp_to_csi_attach_detach.go
  tests/e2e/vcp_to_csi_syncer.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1512 fix linter failure for long line
  pkg/csi/service/osutils/linux_os_utils_test.go
Labels: size/XS, approved, lgtm, cncf-cla: yes

#1507 Support for Improved Volume topology feature when Use-CSINode-Id feature is enabled
  manifests/vanilla/vsphere-csi-driver.yaml
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/internalapis/csinodetopology/config/cns.vmware.com_csinodetopologies.yaml
  pkg/internalapis/csinodetopology/v1alpha1/csinodetopology_types.go
  pkg/syncer/cnsoperator/controller/csinodetopology/csinodetopology_controller.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1513 get logger instance once for function
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
Labels: approved, lgtm, size/M, cncf-cla: yes
