Repository kubernetes-sigs/vsphere-csi-driver, pull requests merged in 2022-05, with the labels that each got.

#1711 [snapshot-e2e] : Adding automation tests for snapshot for volumes associated with deployments
  tests/e2e/csi_snapshot_basic.go
Labels: approved, lgtm, ok-to-test, size/XL, cncf-cla: yes

#1683 [webhook] make volume health annotation immutable by non-csi serviceaccount users
  pkg/syncer/admissionhandler/admissionhandler.go
  pkg/syncer/admissionhandler/cnscsi_admissionhandler.go
  pkg/syncer/admissionhandler/validatepvcannotationfortkgsha.go
  pkg/syncer/admissionhandler/validatepvcannotationfortkgsha_test.go
  pkg/syncer/admissionhandler/validatepvcannotationforvolumehealth.go
  pkg/syncer/admissionhandler/validatepvcannotationforvolumehealth_test.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1698 [TKGs-HA] Cleanup when CreateVolume fails after volume is created
  pkg/common/config/config.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/common_controller_helper.go
  pkg/csi/service/common/commonco/k8sorchestrator/topology.go
  pkg/csi/service/wcp/controller.go
  pkg/internalapis/cnsvolumeoperationrequest/cnsvolumeoperationrequest.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1737 Cherry pick static check fixes
  Makefile
  hack/check-staticcheck.sh
  hack/run-e2e-test.sh
  pkg/csi/service/vanilla/controller_test.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1719 Cherrypick PR #1710 to release-2.5 branch
  tests/e2e/e2e_common.go
  tests/e2e/util.go
  tests/e2e/vsphere_volume_expansion.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1733 print success log for volume ops
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcpguest/controller.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1734 Topology test-fix
  tests/e2e/invalid_topology_values.go
  tests/e2e/util.go
  tests/e2e/vsphere_volume_expansion.go
Labels: approved, lgtm, ok-to-test, size/M, cncf-cla: yes

#1747 Fix overwriting of clusterComputeResourceMoIds for TKGS-HA
  pkg/csi/service/common/util.go
Labels: size/XS, approved, lgtm, ok-to-test, cncf-cla: yes

#1748 Add privileges for Administrator group users on PVC and PV for WCP cl…
  manifests/supervisorcluster/1.20/cns-csi.yaml
  manifests/supervisorcluster/1.21/cns-csi.yaml
  manifests/supervisorcluster/1.22/cns-csi.yaml
  manifests/supervisorcluster/1.23/cns-csi.yaml
Labels: size/S, approved, lgtm, cncf-cla: yes

#1740 fail-fast when storage topology type is unset while zonal label is present
  pkg/csi/service/wcp/controller.go
  pkg/csi/service/wcp/controller_test.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1746 Refactor controllerpublishForBlockVolume and controllerUnpublishForBlockVolume for Guest Cluster
  pkg/csi/service/wcpguest/controller.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1741 Retry the update on latest version upon conflict while updating CnsNodeVmAttachment instance
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Labels: approved, lgtm, ok-to-test, size/M, cncf-cla: yes

#1744 Return non storage fault when VM is not found is VC during CnsNodeVmAttachment detach workflow
  pkg/common/fault/constants.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Labels: size/L, approved, ok-to-test, cncf-cla: yes

#1663 CNAS-3832 ListVolume API for Vanilla cluster
  pkg/common/cns-lib/node/manager.go
  pkg/common/unittestcommon/utils.go
  pkg/csi/service/common/commonco/coagnostic.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator.go
  pkg/csi/service/common/commonco/k8sorchestrator/k8sorchestrator_helper.go
  pkg/csi/service/vanilla/controller.go
  pkg/csi/service/vanilla/controller_helper.go
  pkg/csi/service/wcp/controller.go
  pkg/kubernetes/informers.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1736 Update Go to 1.17
  go.mod
  go.sum
  hack/release.sh
  images/ci/Dockerfile
  images/driver/Dockerfile
  images/syncer/Dockerfile
  images/windows/driver/Dockerfile
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1712 Bug fixes for CSI tests
  tests/e2e/connection.go
  tests/e2e/vsan_stretched_cluster.go
  tests/e2e/vsphere_volume_expansion.go
Labels: approved, lgtm, ok-to-test, size/M, cncf-cla: yes

#1753 Return faulttype for failure paths in CnsNodeVmAttachment controller
  pkg/common/fault/constants.go
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
Labels: approved, lgtm, size/M, cncf-cla: yes

#1751 Policy driven volume allocation libs and first test
  tests/e2e/connection.go
  tests/e2e/policy_driven_vol_allocation.go
  tests/e2e/storage_policy_utils.go
  tests/e2e/vsphere.go
Labels: size/L, approved, lgtm, ok-to-test, cncf-cla: yes

#1731 wcp secure connection improvement
  pkg/common/cns-lib/vsphere/virtualcenter.go
  pkg/csi/service/wcp/controller.go
  pkg/syncer/metadatasyncer.go
Labels: approved, lgtm, size/M, cncf-cla: yes

#1759 change node-role.kubernetes.io/master to node-role.kubernetes.io/control-plane
  manifests/vanilla/deploy-csi-snapshot-components.sh
  manifests/vanilla/validatingwebhook.yaml
  manifests/vanilla/vsphere-csi-driver.yaml
Labels: size/S, approved, lgtm, cncf-cla: yes

#1752 Code fix for Topology disruptive scenario - added new argument nimbus "podname" for running power-on/off on ESXi
  tests/e2e/nimbus_utils.go
  tests/e2e/topology_site_down_cases.go
  tests/e2e/util.go
  tests/e2e/vsan_stretched_cluster_utils.go
Labels: size/S, approved, lgtm, ok-to-test, cncf-cla: yes

#1715 [snapshot-e2e-test]: Adding snapshot usecases with fault-injection
  tests/e2e/csi_snapshot_basic.go
  tests/e2e/csi_snapshot_file_volume.go
  tests/e2e/csi_snapshot_negative.go
  tests/e2e/improved_csi_idempotency.go
  tests/e2e/util.go
Labels: approved, size/XXL, lgtm, ok-to-test, cncf-cla: yes

#1754 Add finalizer to SV PVC using CNSNodeVmAttachment controller
  pkg/syncer/cnsoperator/controller/cnsnodevmattachment/cnsnodevmattachment_controller.go
  pkg/syncer/cnsoperator/types/types.go
Labels: approved, size/M, cncf-cla: yes
